build
CocoaTag.xcodeproj/project.xcworkspace/contents.xcworkspacedata
CocoaTag.xcodeproj/project.xcworkspace/xcuserdata/jofell.xcuserdatad/UserInterfaceState.xcuserstate
CocoaTag.xcodeproj/xcuserdata/jofell.xcuserdatad/xcschemes/CocoaTag.xcscheme
CocoaTag.xcodeproj/xcuserdata/jofell.xcuserdatad/xcschemes/xcschememanagement.plist
